@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&family=Nanum+Gothic:wght@700&display=swap');

.title{
	width: 100%;
	height: 20vh;
	padding-top: 10vh;
 	background-image: url("food3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-family: 'IBM Plex Sans KR', sans-serif;
	padding-left: 50px;
}

.insert_txt{
	resize: none;
}

/*insert*/

.insertCont{
	margin-left: 200px;
}


.shop_insert{
	width: 100%;
	height: 100%;
}

.shop_insert h1{
	padding-bottom: 2vh;
}

.shop_cont1{
	width: 60vw;
	height: 30vh;
/*  	background-color: pink; */
	display: flex;
}

.imgCon{
	margin-top: 2vh;
	width: 30vw;
	height: 28vh;
}

.cont1_info{
/* 	background-color: orange; */
	width: 40vw;
	margin-left: 3vw;
	margin-top: 2vh;
}

.cont1_info textarea{
	width: 25vw;
	height: 20vh;
}

.shop_cont2{
	width: 60vw;
	height: 45vh;
	margin-top: 3vh;
/* 	background-color: blue; */
}

.cont2_info{
	/*  background-color: orange; */
	width: 26vw;
	height: 30vh;
	margin-top: 1vh;
/* 	margin-left: 3vw; */
	float:left;
}

.cont2_info table{
	margin-bottom: 20vh;
	margin-left: 1vw;
}

.cont2_info table th{
	text-align: right;
	padding-right: 1vw;
}

.cont2_info table input{
	width:15vw;
	height: 3vh;
}

/* .submitBtn{
	width: 100px;
	height: 35px;
	border-radius: 15px;
	border: none;
} */

.submitBtn:hover{
	cursor: pointer;
	background-color: #e0e0e0;
}

.loca{
	width:25vw;
	height:35vh;

	margin-left: 28vw;
}

.map{
	width: 25vw;
	height: 35vh;
}