@charset "UTF-8";

tr td a{
	text-decoration: none;
	color: black;
}

.ownerSearch{
	font-size: 19px;
	text-decoration: none;
	color: black;
}

.ownerBtn{
	border: none;
	width: 75px;
	height: 25px;
	border-radius: 15px;
}

#doneBtn{
	cursor: default;
}

.searchForm{
	margin-left: 150px;
}